<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>
          Start collecting your contacts in very smarter way. We provide very
          effecient way of handling contacts.
        </p>
        <button class="btn bg-primary text-white">Get Start</button>
      </div>
    </section>
  </body>
</html>
